body {
  background-color: #1A71A9;
}
@media (min-width: 31.25em) {
  h1 {
    color: #005991;
    font-family: "Roboto Condensed", sans-serif;
    margin-left: 1.5rem;
  }
  h2 {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 500;
  }
  h3 {
    font-weight: 500;
    text-transform: uppercase;
  }
  ul {
    margin-left: 1rem;
  }
  footer p {
    margin-left: 1rem;
  }
  figcaption {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    position: absolute;
    font-size: 1.5rem;
    text-transform: uppercase;
    width: 94%;
  }
  a {
    text-decoration: none;
    color: #000;
  }
  body {
    font-family: "Roboto Condensed", sans-serif;
    max-width: fit-content;
    background-color: #DEDEDE;
    color: #000;
    display: grid;
    grid-template-areas: "header" "photo-grid" "articles" "recipes" "cuisines" "footer";
  }
  .header {
    grid-area: header;
  }
  .photo-grid {
    grid-area: photo-grid;
    display: grid;
    grid-template-rows: repeat(3, 20%);
    background-color: #DEDEDE;
    position: relative;
  }
  .articles {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    margin: 1rem;
    position: relative;
    grid-row-gap: 1rem;
    margin-top: 0;
  }
  .articles article {
    background-color: #fff;
    margin: 0;
    padding-left: 1rem;
    padding-bottom: 1rem;
  }
  .recipes {
    grid-area: recipes;
  }
  .cuisines {
    grid-area: cuisines;
  }
  .footer {
    grid-area: footer;
  }
  article h2 {
    color: #1A71A9;
    text-transform: uppercase;
  }
  footer {
    background-color: #005991;
    color: #FFFFFF;
    padding-top: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  footer a {
    color: #FFFFFF;
  }
  .food-text {
    text-transform: uppercase;
  }
  .explorer-text {
    text-transform: uppercase;
    font-weight: lighter;
  }
  .logo-text {
    display: none;
  }
  .navigation img {
    display: none;
  }
  .navigation {
    display: none;
  }
  .nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    background-color: #005991;
    padding: 0;
  }
  .social-media {
    display: none;
  }
  .nav-link {
    list-style-type: none;
    display: flex;
    gap: 2rem;
    background-color: #1A71A9;
    padding: 0.5rem 1.5rem;
    margin: 0;
    width: 95%;
    justify-content: center;
  }
  .nav-link a {
    color: #F9F9F9;
  }
  #search {
    width: 8.5rem;
    height: 2rem;
    border-radius: 0.625rem;
    position: absolute;
    top: 1.5rem;
    right: 0.313rem;
    background-color: #DEDEDE;
  }
  .search button {
    position: absolute;
    top: 1.8rem;
    right: 10px;
    background-color: #DEDEDE;
    border: none;
  }
  .photo-grid figure img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .photo-grid figure {
    margin: 1rem;
    overflow: hidden;
  }
  .mussel-text {
    top: 24.7%;
    padding: 2% 1%;
  }
  .salad-text {
    top: 50%;
    padding: 2% 1%;
  }
  .pancake-text {
    top: 60%;
    padding: 2% 1%;
  }
  .sidebar-recipes h2 {
    background-color: #1A71A9;
    color: #FFFFFF;
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 94%;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-left: 1rem;
  }
  .sidebar-recipes h3 {
    margin-left: 1rem;
  }
  .sidebar-recipes-grid article {
    display: grid;
    grid-template-columns: 20% 80%;
    margin-left: 1rem;
    width: 94%;
    align-items: center;
    column-gap: 1rem;
  }
  .sidebar-recipes img {
    border: solid 1px #005991;
    height: auto;
    margin: 1rem;
  }
  .sidebar-recipes-grid a:nth-of-type(odd) article {
    background-color: #FFFFFF;
  }
  .sidebar-recipes-grid a:nth-of-type(even) article {
    background-color: #d7d4d4;
  }
  .sidebar-link h2 {
    background-color: #1A71A9;
    color: #FFFFFF;
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 94%;
    text-transform: uppercase;
    margin-left: 1rem;
  }
  .sidebar-link ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding-left: 0.5rem;
  }
  article button {
    background-color: #005991;
    color: #FFFFFF;
  }
  .articles img {
    width: 97%;
  }
  .post-btn {
    background-color: #005991;
    color: #FFFFFF;
  }
  .post-btn svg path {
    fill: #FFFFFF;
  }
}
@media (min-width: 41.875em) {
  .photo-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .mussel {
    grid-row: 1/3;
    grid-column: 1/3;
  }
  .salad {
    grid-row: 2/3;
    grid-column: 1/2;
  }
  .pancake {
    grid-row: 2/3;
    grid-column: 2/3;
  }
}

/*# sourceMappingURL=main.css.map */
