// Header
@use 'variables' as *;

header {

    padding: .5rem;
    background-color: $header-colour;
    border: 5px solid red;

    .logo {
        display: flex;
        justify-content: space-between;
        align-items: center;

        > * {
            border: 1px solid green;
        }
        
    }

    .navigation {
        // display: flex;
        // align-items: center;
        // justify-content: space-between;
        // position: relative;
    
        svg {
            height: 35px;
            width: 30px;
            padding: .2rem;
            fill: $Deep-blue;
        }
    }

    @media (min-width: $tablet-small){
        .navigation {
            display: none;
        }

        .logo-image-container {
            margin-right: 2.5rem;
        }
    }

    @media (min-width: $tablet-large){

        .logo-image-container {
            margin-right: auto;
        }
        
    }

}
