// Header
@use 'variables' as *;

header {

    
    background-color: $header-colour;
    

    .logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .5rem;
       
        
    }

    .navigation {
       
    
        svg {
            height: 35px;
            width: 30px;
            padding: .2rem;
            fill: $Deep-blue;
        }
    }

    @media (min-width: $tablet-small){
        .navigation {
            display: none;
        }

        .logo-image-container {
            margin-right: 2.5rem;
        }
    }

    @media (min-width: $tablet-large){

        .logo-image-container {
            margin-right: auto;
        }
        
    }

    @media (min-width: $desktop-small){
        width: 100%;

        .logo {
            margin: 0 auto;
            max-width: 63.75rem;
        }

    }

}
