// Main Navigation
@use 'variables' as *;

.nav-bar {
    display: none;

    &.show {
        display: block;
    }

    .nav-link {

        // z-index: 1000;
        list-style: none;
        padding: 0;
        margin: 0 auto;
        width: 100%;

        li {
            font-family: $Nav-text;
            text-align: center;

            padding: 0;
            width: 100%;
        }

        a {
            display: block;
            background-color: $light-blue;
            border: 1px solid $Deep-blue;
            color: $HLT;
            text-decoration: none;
            padding: .5rem;

            &:hover {
                background-color: $header-colour;
                color: $light-blue;
            }

        }
    }

    @media (min-width: $tablet-small){
        
        display: flex;
        flex-direction: row;
        justify-content: center;
        list-style-type: none;
        background-color: $Deep-blue;
        padding: 0;
        width: 100%;
        margin: 0 auto;


        .nav-link {
            display: flex;
            background-color: $light-blue;
            width: 95%;
            margin: 0 auto;

            a {
                color: $header-colour;
                border: transparent;
            }

        }

        .nav-bar-desktop {
            width: 90%;
        }

    }

    @media (min-width: $desktop-small){
        width: 100%;

        .nav-bar-desktop {
            display: flex;
            flex-direction: row;
            justify-content: center;
           
            max-width: 63.75rem;
            
        }
    }
  

}

// .nav-bar {
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
//     list-style-type: none;
//     background-color: $Deep-blue;
//     padding: 0;

// }

// .nav-link {
//     list-style-type: none;
//     display: flex;
//     // gap: 2rem;
//     background-color: $light-blue;
//     // padding: 0.5rem 1.5rem;
//     margin: 0;
//     width: 95%;
//     justify-content: space-between;
// }

// .nav-link a {
//     color: $header-colour;
//     border: transparent;
// }