// Social Media Icon Styles
@use 'variables' as *;

.social-media {

    display: flex;
    justify-content: center;
    gap: 1rem;

    a {
        position: relative;
        padding: .5rem;
        text-decoration: none;

        svg {
            width: 30px;
            height: 30px;
            
        }

        &::before {
            content: "";
            position: absolute;
            top: 8px;
            right: 8px;
            left: 8px;
            width: 65%;
            height: 0;
            overflow: hidden;
            transition: .5s ease-in-out;
            
            // text-align: center;
            line-height: 30px;
            background-size: 30px 30px;
            
        }

        &:hover::before {
            height: 100%;
        }

        &:nth-child(1):before {
            content: url(../Icons/Icons/facebook-f.svg);
            width: 41%;
            left: 14px;
            background-color: transparent;
            
        }

        &:nth-child(2):before {
            content: url(../Icons/Icons/google.svg);
            width: 64%;
            left: 8.5px;
            top: 7.75px;
            background-color: transparent;
        }

        &:before {
            content: url(../Icons/Icons/twitter.svg);
            background-color: transparent;
        }

    }

    &.social-media-mobile {
        display: none;
    }

    @media (min-width: $tablet-small){

        a {
            &:hover:before {
                height: 0%;
            }
        }

        svg :hover {
            fill: grey;
        }

        &.social-media-navigation-bar {
            display: none;
        }
    }

    @media (min-width: $tablet-large){
        &.social-media-mobile {
            display: block;
        }

        .social-media a svg {
            fill: $social-icon;
            width: 1.5rem;
            height: 1.5rem;
            transition: fill 0.3s ease;
    
            
        }
    }

    @media (min-width: $desktop-small){
        &.social-media-navigation-bar {
            display: none;
        }
    }


}

// .social-media {
//     display: flex;
//     justify-content: center;
//     gap: 1rem;

//     a {

//         padding: .5rem;

//         svg {
//             width: 30px;
//             height: 30px;
            
//         }
//     }

// }

/*
.social-media a {
    position: relative;

}

.social-media a::before {
    content: "";
    position: absolute;
    top: 8px;
    right: 8px;
    left: 8px;
    width: 65%;
    height: 0;
    overflow: hidden;
    transition: .5s ease-in-out;
    
    // text-align: center;
    line-height: 30px;
    background-size: 30px 30px;
    
}

.social-media a:hover::before {
    height: 100%;
}

.social-media a:nth-child(1):before {
    content: url(../Icons/Icons/facebook-f.svg);
    width: 41%;
    left: 14px;
    background-color: $header-colour;
    
}

.social-media a:nth-child(2):before {
    content: url(../Icons/Icons/google.svg);
    width: 64%;
    left: 8.5px;
    top: 7.75px;
    background-color: $header-colour;
}

.social-media a:nth-child(3):before {
    content: url(../Icons/Icons/twitter.svg);
    background-color: $header-colour;
}
*/

