// Typography

$Heading-text: 'Roboto Condensed', sans-serif; 
$Nav-text: 'Roboto Condensed', sans-serif;
$Body-text: 'Roboto Condensed', sans-serif;

// colours

$Deep-blue: #005991;
$light-blue: #1A71A9;
$header-colour: #F9F9F9;

// Element colours
$search-box: #DEDEDE;
$social-icon: #1A71A9;

// Heading, Link, titles
$HLT: #FFFFFF;

// body text colour
$body-colour: #000;